@use '../../../styles/variables' as *;

.status-filter-select {
  width: 11.25rem;
}

::ng-deep .users-table {
  min-width: 60rem;

  .p-datatable-thead > tr > th {
    background-color: $surface-100;
    color: $text-color;
    font-weight: $font-semibold;
  }

  .p-datatable-tbody > tr {
    transition: background-color $transition;

    &:hover {
      background-color: $bg-hover;
    }
  }

  // Mobile Styles
  @media (max-width: $breakpoint-md) {
    min-width: auto;
  }
}
