@use 'variables' as theme;

.container {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
  color: inherit;
}

.input {
  display: flex;
  gap: 10px;
  padding-bottom: 12px;
}

.quickactions {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;

  .p-table {
    flex-grow: 1;
  }
}

.chip {
  $color: var(--color);
  background-color: $color;
  background-image: linear-gradient(
                  0deg,
                  rgba(255, 255, 255, 0.3) 0%,
                  rgba(171, 167, 167, 0) 100%
  );

  .mat-icon {
    $size: 1.2rem;
    font-size: $size;
    height: $size;
    width: $size;
  }

  &.addChip {
    cursor: pointer;
    user-select: none;

    &:hover {
      transition: 0.3s ease;
      background-color: color-mix(in srgb, $color, black 10%);
    }

    &:active {
      transition: none;
      background-color: color-mix(in srgb, $color, black 30%);
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .card {
    $color: var(--color);
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color;
    background-image: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.3) 0%,
                    rgba(171, 167, 167, 0) 100%
    );
    user-select: none;
    cursor: pointer;
    height: 6rem;
    justify-content: center;

    &:hover {
      transition: 0.3s ease;
      background-color: color-mix(in srgb, $color, black 10%);
    }

    &:active {
      transition: none;
      background-color: color-mix(in srgb, $color, black 30%);
    }
  }
}

.card {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.176);
}

.institutions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .card {
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-color: rgb(83, 64, 255);
    color: white;
    text-shadow: 1px 1px 2px black;
    background-blend-mode: lighten;
    filter: grayscale(0.7);

    user-select: none;
    cursor: pointer;
    height: 8rem;
    justify-content: center;
    //-webkit-filter: brightness(109%) contrast(34%) saturate(66%);
    &:hover {
      transition: 0.3s ease;
    }

    &:active {
      transition: none;
    }
  }
}

.header {
  border-top: 1px black solid;
  padding: 6px 0px;
  display: flex;
  align-items: center;
  gap: 4px;
  /*background-color: white;
  padding: 6px;
  border-radius: 4px;*/
  .mat-icon {
    $size: 1.3rem;
    font-size: $size;
    height: $size;
    width: $size;
  }
}

.tags {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1rem;
  align-items: center;

}

.tags-drawer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .chip {
    cursor: pointer;
  }
}

.tags-section {
  margin-bottom: 1rem;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}