services:
  mongo:
    image: mongodb/mongodb-atlas-local:latest
    restart: unless-stopped
    command: mongod --replSet ra0 --bind_ip_all
    hostname: mongo
    healthcheck:
      test: '[ $$(mongosh --eval "rs.status().ok" --quiet) -eq 1 ] || [ $$(mongosh --eval "rs.initiate().ok" --quiet) -eq 1 ]'
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - '${MONGO_PORT:-27017}:27017'
    volumes:
      - mongo_data:/data/db

  mongo-init:
    image: mongo:latest
    depends_on:
      mongo:
        condition: service_healthy
    entrypoint: >
      mongosh --host mongodb:27017 --eval 
      'rs.initiate({
        _id: "ra0",
        members: [{ _id: 0, host: "localhost:27017" }]
      }) || rs.reconfig({
        _id: "ra0",
        members: [{ _id: 0, host: "localhost:27017" }]
      }, {force: true})'

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - 8081:8081
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - ME_CONFIG_BASICAUTH=false

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333" # HTTP API
      - "6334:6334" # gRPC API (faster for large batches)
    volumes:
      - qdrant_data:/qdrant/storage
volumes:
  mongo_data:
  qdrant_data: