services:
  mongo:
    image: mongo
    restart: unless-stopped
    command: --replSet ra0 --bind_ip_all
    hostname: mongo
    healthcheck:
      # Initialize the replication set if that was not already done
      test: '[ $$(mongosh --eval "rs.status().ok" --quiet) -eq 1 ] || [ $$(mongosh --eval "rs.initiate().ok" --quiet) -eq 1 ]'
      interval: 10s
      start_period: 30s
    ports:
      - '${MONGO_PORT:-27017}:27017'

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - 8081:8081
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - ME_CONFIG_BASICAUTH=false
