<div class="container">
  <div class="bar">
    @for (route of routes; track route.label; let idx = $index) {
      @if (route.routerLink === '/logout') {
        @if (auth.isAuthenticated()) {
          <a pButton class="p-button-text" (click)="auth.clearToken()" [routerLink]="'/'">
            <mat-icon [class.filled]="current() === idx" pButtonIcon [innerText]="route.icon"></mat-icon>
          </a>
        }
      } @else {
        <a pButton class="p-button-text" [routerLink]="route.routerLink">
          <mat-icon [class.filled]="current() === idx" pButtonIcon [innerText]="route.icon"></mat-icon>
        </a>
      }
    }
  </div>
</div>

<div class="desktop">
  <div class="bar">
    <div>
      <h1>
        <mat-icon>folder_open</mat-icon>
        LearnHub
      </h1>
      Your hub for learning content
    </div>
    @for (route of routes; track route.label; let idx = $index) {
      @if (route.routerLink === '/logout') {
        @if (auth.isAuthenticated()) {
          <p-button [label]="route.label" (click)="auth.clearToken()" [routerLink]="'/'" variant="text" />
        }
      } @else {
        <p-button [label]="route.label" [routerLink]="route.routerLink" variant="text" />
      }
    }
  </div>
</div>
