<div class="container">
  @if (!data() && explictShow()) {
  <p class="text unknown">Couldn't find exercise</p>
  <div class="bar unknown">
    <div>
      <mat-icon>book_5</mat-icon>
      <span>Unknown</span>
    </div>
  </div>
  } @else {
  <p class="text" [innerHTML]="data()!.text | math"></p>
  <div class="bar">
    <div>
      <mat-icon>book_5</mat-icon>
      <span [innerText]="data()!.relatedCollection.title"></span>
    </div>
    @if (data()!.relatedCollection.source.publishedAt) {
    <div>
      <mat-icon>calendar_month</mat-icon>
      <span [innerText]="data()!.relatedCollection.source.publishedAt | date : 'yyyy'"></span>
    </div>
    }
    <mat-icon>school</mat-icon>
    <span [innerText]="data()!.relatedCollection.source.organisation"></span>
  </div>
  }
</div>
