<div class="container">
  @if (contentService.activeExercise() != null) {
  <p [innerHTML]="contentService.activeExercise()!.text | math"></p>
  @for (image of contentService.activeExercise()!.images; track image) {
  <img [src]="image" alt="" />
  }

  <p-accordion [value]="['']" [multiple]="true">
    @if (contentService.activeExercise()!.tip) {

    <p-accordion-panel value="0">
      <p-accordion-header>Tip</p-accordion-header>
      <p-accordion-content>
        <p class="m-0" [innerHTML]="contentService.activeExercise()!.tip! | math"></p>
      </p-accordion-content>
    </p-accordion-panel>
    } @if (contentService.activeExercise()!.solution) {
    <p-accordion-panel value="1">
      <p-accordion-header>Solution</p-accordion-header>
      <p-accordion-content>
        <p class="m-0" [innerHTML]="contentService.activeExercise()!.solution! | math"></p>
        @for (image of contentService.activeExercise()!.solutionImages; track image) {
        <img [src]="image" alt="" />
        }
      </p-accordion-content>
    </p-accordion-panel>
    }
  </p-accordion>
  <div class="metadata">
    <div class="collection" [routerLink]="`/search`" [queryParams]="{ c: contentService.activeExercise()!.relatedCollection.id }">
      <mat-icon>box</mat-icon>
      <span>{{ contentService.activeExercise()!.relatedCollection.title }} <p-badge value="VIEW" /></span
    ></div>
    <div>
      <mat-icon>calendar_today</mat-icon>
      <span [innerHTML]="contentService.activeExercise()!.relatedCollection.createdAt | date : 'dd.MM.yyyy'"></span
    ></div>
    <div>
      <mat-icon>category</mat-icon>
      <span [innerText]="contentService.activeExercise()!.keywords"></span
    ></div>
  </div>
  <lh-action-buttons [id]="id!" />
  <lh-section label="Similar content" icon="search_activity"></lh-section>
  }
</div>
