.container {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  max-width: 100%;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .p-badge {
    display: inline;
  }

  .mat-icon {
    font-size: 1.4rem;
    height: 1.4rem;
    width: 1.5rem;
    transform: translateY(-1px);
  }

  .collection {
    cursor: pointer;


    &:hover {
      text-decoration: underline;
    }
  }
}

