@use 'variables' as theme;

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}

.dialog {
  width: 25rem;
}

.folder-row {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  gap: 1rem;

  .mat-icon {
    transform: translateY(1px);
  }

  .grow {
    flex-grow: 1;
    word-break: break-all;
  }

  &.active {
    background-color: theme.$bg-ground;
  }

}

.rows {
  overflow: scroll;
  max-height: 100%;
}

.addButton {
  flex-shrink: 0;
}