@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* { font-family: 'Poppins', sans-serif; }

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  border: 1px solid #eee; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); background-color: #fff;
}

.signup-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

p-floatlabel {
  width: 100%;
}

::ng-deep .p-password {
  width: 100%;
}

input[pInputText],
::ng-deep .p-password input {
  width: 100%;
  height: 50px;
}

::ng-deep .p-button {
  width: 100%;
  height: 50px;
}

.login-hint {
  text-align: center;
  white-space: nowrap;
}

::ng-deep .signup-button {
  --p-button-primary-background: #1C4D8D;
  --p-button-primary-hover-background: #0F2854;
  --p-button-primary-border-color: #1C4D8D;
  --p-button-primary-hover-border-color: #0F2854;
}





