@if (data()) {
  <div class="container" [routerLink]="['/search']" [queryParams]="{ c: data().id }" queryParamsHandling="merge">
    <div class="image" [style.background-image]="`url('${data().previewImage}')`">
      @if (data().length) {
        <div class="innerBar" [style.color]="contentColor()">
          <div>
            <mat-icon>article</mat-icon>
            <div [innerText]="data().length"></div>
          </div>
        </div>
      }
    </div>
    <div class="title" [innerText]="data().title"></div>
  </div>
}
