

body {
    padding: 3rem;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}

button {
    background: none;
    border: none;
}

.view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upload-button{
    position: fixed;
    bottom: 3rem;
}

.previews {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.preview {
    position: relative;
    width: 70px;
    height: 70px;

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 8px;
        display: block;
    }

    img:hover{
        opacity: 0.8;
    }
}

.removeImg {
    position: absolute;
    top: 0px;
    right: -12px;

    width: 18px;
    height: 18px;
    border-radius: 50%;

    background: white;
    color: black;
    border: solid black 0.5px;


    cursor: pointer;
    line-height: 1;
}

.removeImg:hover{
    background: red;
    color: white;
    border: solid red 0.5px;
}

.singlePreview {
    position: fixed;
    top: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.p-fileupload-filename {
    display: none;
}