
<html>
    <body>
        <div class="view">
            <h1>Create Collection</h1>
            
            <p-select [options]="lcCollections" [(ngModel)]="selectedLcCollection" optionLabel="title" placeholder="Select a collection" [filter]="true"/>
            
            <p-button
                label="Add collection"
                icon="pi pi-plus"
                type="button"
                (onClick)="openDialogCollection();">
            </p-button>
            
            <p-dialog header="Collection" [(visible)]="dialogCollectionVisible"
            [modal]="true" [dismissableMask]="true">
                <div class="view">
                    <div>
                        <label for="selectedLcCollection.title">Title *</label>
                        <input pInputText minlength="1" id="title" [(ngModel)]="selectedLcCollection.title" pSize="large" autocomplete="off" placeholder="Enter collection title" fluid/>
                    </div>
                    <div>
                        <label for="selectedLcCollection.author">Author *</label>
                        <input pInputText minlength="1" id="author" [(ngModel)]="selectedLcCollection.author" pSize="large" autocomplete="off" placeholder="Enter author name" fluid/>
                    </div>

                    <p-button
                        label="Add collection"
                        icon="pi pi-plus"
                        type="button"
                        (onClick)="addCollection();">
                    </p-button>
                </div>
            </p-dialog>

            <!--LEARNING CONTENT-->
            <h2>Exercises</h2>
            <p-button
                icon="pi pi-plus"
                label="Add exercises"
                type="button"
                (onClick)="openDialogCreate();">
            </p-button>

            @if(learningContents.length > 0){
                 <p-table [value]="learningContents">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Exercise text</th>
                        <th style="width: 5rem"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-learningContent let-i="rowIndex">
                        <tr (click)="openDialogEdit(learningContent, i)">
                            <td>{{ learningContent.exercise.text }}</td>
                            <td>
                                <p-button
                                icon="pi pi-trash"
                                severity="danger"
                                rounded
                                type="button"
                                (onClick)="$event.stopPropagation();removeFromCollection(i)">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            }

            <!--DIALOG-->
            <p-dialog header="Exercise" [(visible)]="dialogVisible"
            [modal]="true" [dismissableMask]="true">
                <div class="view">
                    <div>
                        <label for="exericse">Exercise text</label>
                        <textarea pTextarea minlength="10" id="exericse" placeholder="Enter the exercise task or question..." [(ngModel)]="lcForm.exercise.text" rows="4" cols="30" [autoResize]="true" fluid ></textarea>
                    </div>
                    
                    <p-fileupload 
                        #exerciseFileUpload
                        chooseIcon="pi pi-file"
                        chooseLabel="Select exercise images and files"
                        mode="basic"
                        [multiple]="true"
                        accept="image/*, application/pdf"
                        maxFileSize="1000000"
                        (onSelect) = "lcForm.exercise.onExerciseSelect($event)"
                        [customUpload]="true">
                    </p-fileupload>

                    @if(lcForm.exercise.imagesPreviews.length != 0){
                        <p-scrollPanel styleClass="previewScroll" [style]="{ width: '100%', height: '100px' }">
                            <div class="previews">
                                <div class="preview" *ngFor="let img of lcForm.exercise.imagesPreviews; let i = index;">
                                    <button type="button" (click)="openPreview(img)">
                                        <img [src]="img"/>
                                    </button>
                                    <button class="removeImg" (click)="lcForm.exercise.removeChosenExercise(i)">x</button>
                                </div>
                            </div>
                        </p-scrollPanel>
                    }

                    <div>
                        <label for="tip">Tip</label>
                        <textarea pTextarea id="tip" placeholder="Optional hint for students..." [(ngModel)]="lcForm.exercise.tip" rows="4" cols="30" [autoResize]="true" fluid ></textarea>
                    </div>

                    <div>
                        <label for="solution">Solution</label>
                        <textarea pTextarea id="solution" placeholder="Enter the solution or answer..." [(ngModel)]="lcForm.exercise.solution" rows="4" cols="30" [autoResize]="true" fluid ></textarea>
                    </div>
                        
                    <p-fileupload 
                        #solutionFileUpload
                        chooseLabel="Select solution images and files"
                        chooseIcon="pi pi-file"
                        mode="basic"
                        [multiple]="true"
                        accept="image/*, application/pdf"
                        maxFileSize="1000000"
                        (onSelect) = "lcForm.exercise.onSolutionSelect($event)"
                        [customUpload]="true">
                    </p-fileupload>
                    @if(lcForm.exercise.solutionImagesPreviews.length != 0){
                        <p-scrollPanel styleClass="previewScroll" [style]="{ width: '100%', height: '100px' }">
                            <div class="previews">
                                <div class="preview" *ngFor="let img of lcForm.exercise.solutionImagesPreviews; let i = index;">
                                    <button type="button" (click)="openPreview(img)">
                                        <img [src]="img"/>
                                    </button>
                                    <button class="removeImg" (click)="lcForm.exercise.removeChosenSolution(i)">x</button>
                                </div>
                            </div>
                        </p-scrollPanel>
                    }
                    
                    <div>
                        <label for="integeronly">Total points</label>
                        <p-inputnumber inputId="integeronly" [(ngModel)]="lcForm.exercise.total_points" />
                    </div>

                    <p-button
                        icon="pi pi-plus"
                        label="Add"
                        type="button"
                        (onClick)="saveDialog();dialogVisible = false; ">
                    </p-button>
                </div>
            </p-dialog>


            <p-dialog
                header="Image Preview"
                [(visible)]="previewVisible"
                [modal]="true"
                [dismissableMask]="true"
                [closable]="true"
                [draggable]="false"
                [resizable]="false"
                styleClass="previewDialog">

            <img *ngIf="activePreview"
                [src]="activePreview"
                style="max-width: 100%; max-height: 80vh; display: block; margin: 0 auto;" />
            </p-dialog>

            <p-button
                icon="pi pi-upload"
                label="Upload"
                type="button" 
                severity="primary"
                (onClick)="upload()">
            </p-button>
        </div>
    </body>
</html>