<html>
    <body>
        <div>
            <h2>Create Exercise</h2>
            <h3>Exercise</h3>
            <p-iftalabel>
                <textarea pTextarea id="exericse" [(ngModel)]="exercise" rows="4" cols="30" [autoResize]="true" fluid ></textarea>
                <label for="exericse">Exercise</label>
            </p-iftalabel>
            <p-fileupload 
                #fileUpload
                chooseLabel="Select exercise images and files"
                mode="basic"
                [multiple]="true"
                accept="image/*, application/pdf"
                maxFileSize="1000000"
                (onSelect) = "onExerciseSelect($event)"
                [customUpload]="true">
            </p-fileupload>
            @if(this.exercisePreviews.length != 0){
                 <p-scrollPanel styleClass="previewScroll" [style]="{ width: '100%', height: '100px' }">
                    <div class="previews">
                        <div class="preview" *ngFor="let img of this.exercisePreviews; let i = index;">
                            <button type="button" (click)="openPreview(img)">
                                <img [src]="img"/>
                            </button>
                            <button class="removeImg" (click)="removeChosenExercise(i)">x</button>
                        </div>
                    </div>
                </p-scrollPanel>
            }


            
            <h3>Solution</h3>
            <p-iftalabel>
                <textarea pTextarea id="solution" [(ngModel)]="solution" rows="4" cols="30" [autoResize]="true" fluid ></textarea>
                <label for="solution">Solution</label>
            </p-iftalabel>
            <p-fileupload 
                #fileUpload
                chooseLabel="Select solution images and files"
                mode="basic"
                [multiple]="true"
                accept="image/*, application/pdf"
                maxFileSize="1000000"
                (onSelect) = "onSolutionSelect($event)"
                [customUpload]="true">
            </p-fileupload>

            @if(this.solutionPreviews.length != 0){
                <p-scrollPanel styleClass="previewScroll" [style]="{ width: '100%', height: '100px' }">
                    <div class="previews">
                        <div class="preview" *ngFor="let img of this.solutionPreviews; let i = index;">
                            <button type="button" (click)="openPreview(img)">
                                <img [src]="img"/>
                            </button>
                            <button class="removeImg" (click)="removeChosenSolution(i)">x</button>
                        </div>
                    </div>
                </p-scrollPanel>
            }
            
            <div>
                <label for="integeronly">Total points </label>
                <p-inputnumber inputId="integeronly" [(ngModel)]="totalPoints" />
            </div>

            <div class="singlePreview" *ngIf="activePreview" (click)="closePreview()">
                <img [src]="activePreview"/>
            </div>

            <p-button
                label="Upload"
                type="button" 
                severity="primary"
                (onClick)="addExercise(fileUpload)">
            </p-button>
        </div>
    </body>
</html>